/* === Базовые настройки === */
 body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #22EFDE;
  background: linear-gradient(to bottom, #3b8da6, #00e0c6);
}

/* === Навигация === */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.5rem;
  background-color: #111;
  border-bottom: 2px solid #29c2c2;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-label {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f7fffe;
}

.nav-icon svg {
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 6px;
  display: block;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #f7fffe;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.nav-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #467B99 0%, #23EDE2 100%);
}

/* === Контейнер формы === */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}
.form-title {
    text-align: center;
  margin-top: -50px; 
  margin-bottom: 10px;
}


.form-box {
  background-color: #000;
  padding: 3rem;
  border-radius: 6px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 224, 198, 0.2);
}

.form-box h2 {
   text-align: center;

  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 28px; 
  color: white;
  letter-spacing: 1px; 
  font-family: 'Inter', sans-serif; 
}

.form-box input,
.form-box select,
.form-box textarea {
  width: 100%;
  height: 30px;
  background: transparent;
  border: 1.5px solid #3CAEC5;
  color: #3CAEC5;
  font-size: 16px;
   font-weight: 540;
  padding: 4px 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.form-box input::placeholder,
.form-box textarea::placeholder {
 color: #3CAEC5;
  opacity: 1;
}

/* === Data === */
.form-box .date-group {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.form-box .date-group input {
  flex: 1;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 8px 0;
}

/* === Content === */
.form-box textarea {
  height: 250px;
  resize: none;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
}

/* === Button === */
.form-box button {
  margin-top: 10px;
  padding: 6px 16px;
  background-color: #497C9B;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}
.form-box select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%233CAEC5'%3E%3Cpath d='M1 4l6 6 6-6' stroke='%233CAEC5' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  padding-right: 30px; 
}


.form-box button:hover {
  background-color: #5ea2bf;
}
