body {
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}
.nav-label {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f7fffe;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.5rem;
  background-color: #111;
  border-bottom: 2px solid #29c2c2;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-icon svg {
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 6px;
  display: block;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  font-size: 0.95rem;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

.nav-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #467B99 0%, #23EDE2 100%);
  color: #22EFDE;
  font-family: 'Inter', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1.5rem;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white; 
}


.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}



.symbol span {
  display: block;
  line-height: 1;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .name {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.price .value {
  font-size: 32px;
  font-weight: 500;
  text-align: right;
}


.price .change {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}
