body {
    margin: 0;
    font-family: 'Koulen', Arial, sans-serif;
    background: linear-gradient(to bottom, #497C9B, #3CAEC5, #22EFDE);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    overflow: hidden;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
}

.divider {
    width: 2px;
    background-color: #22EFDE;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.panel.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
}

.logo-symbol svg {
    width: 230px;
    height: 230px;
    margin-left: -40px;
    margin-top: 30px; 
    margin-bottom: 10px; 
}

h3 {
    margin: 70px 0 30px 0;
    font-size: 22px;
    font-weight: 400;
    text-shadow: -0.5px 0 black, 0.5px 0 black;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 300px;
    padding: 14px 0;
    font-size: 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
}

.signin {
    background-color: #497C9B;
    color: black;
    border: none;
}

.register {
    background-color: transparent;
    color: #3CAEC5;
    border: 2px solid #3CAEC5;
}

.right h1 {
    font-size: 115px;
    text-align: left;
    line-height: 1.6;
    margin: 0;
    color: white;
    width: 100%;
    margin: 0;
    font-weight: 400;
    text-shadow: -0.5px 0 black, 0.5px 0 black; 
}
