body {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .btn {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .card img {
    height: 100%;
    object-fit: cover;
  }
  

  .navbar {
    border-bottom: 2px solid #00e1ff;
  }

  .navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .navbar-brand img {
    border-radius: 6px;
  }

  .search-bar input {
    height: 48px;
    font-size: 1rem;
    border-radius: 100px
  }

  input.form-control {
      border: 2px solid #0dcaf0;
      height: 48px;
      font-size: 1rem;
      border-radius: 100px;
      background-color: black;
      color: white;
  }
  

  input::placeholder {
      color: #00e1ff;
  }

  .tag-button {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1rem 1.2rem;
    line-height: 1.2;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;
    margin-right: 20px; 
    margin-bottom: 20px; 
  }

  .card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    height: 300px;
  }

  .card img {
    height: 100%;
    object-fit: cover;
  }

  .custom-card {
      width: 95%;            
      max-width: 1300px;     
      margin: 0 auto;        
      border-radius: 12px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    text-decoration: none;
  }